body{
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    justify-content: center;
    display: flex;
}

section{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;  
    border-left: 10vh;
    border: 2px solid #333;
    background-color: #f9f9f9; 
    padding: 20px; 
    margin: 20px 30vh;
    border-radius: 10px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.imagenes{
    display: flex;
    justify-content: center;
}

p{
    text-align: justify;
}
h3{
    text-align: center;
}